*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.item {
    position: relative;
}
.item-caption{
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 20px;
}
.container{
    position: relative;
}
.layer{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.light-box{
    background-image: url(../images/portfolio-1.jpg);
    background-size: 100% 100%;
    width: 60%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#close{
    position: absolute;
    top: 12px;
    right: 15px;
}